$white     : #fefefe;
$darkWhite : #f5f5f5;
$black     : #333;
$lightBlack: #555;
$darkBlack : #111;
$gray      : #ddd;
$lightGray : #eee;
$darkGray  : #999;
$red       : #f55c5c;
$green     : #288e6e;
$lightGreen: #9bd36e;

$mainColor     : $green;
$baseColor     : $white;
$accentColor   : $green;
$secondaryColor: $lightGreen;
$alertColor    : $red;
$inactiveColor : $gray;